<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-lg-6">
      <h1 class="mb-4">New Blog Category</h1>
      
      <%= render 'form', blog_category: @blog_category %>
    </div>
  </div>
</div>
