<div data-controller="share"
     data-share-url-value="<%= url %>"
     data-share-title-value="<%= title %>"
     data-share-description-value="<%= description %>">
  
  <div class="btn-group">
    <button type="button"
            class="btn btn-outline-primary"
            data-action="share#copyLink">
      <i class="bi bi-link-45deg"></i>
      Copy Link
    </button>
    
    <button type="button"
            class="btn btn-outline-primary"
            data-action="share#shareTwitter">
      <i class="bi bi-twitter"></i>
      Tweet
    </button>
    
    <button type="button"
            class="btn btn-outline-primary"
            data-action="share#shareFacebook">
      <i class="bi bi-facebook"></i>
      Share
    </button>
    
    <button type="button"
            class="btn btn-outline-primary"
            data-action="share#shareLinkedIn">
      <i class="bi bi-linkedin"></i>
      Post
    </button>
    
    <button type="button"
            class="btn btn-outline-primary"
            data-action="share#shareEmail">
      <i class="bi bi-envelope"></i>
      Email
    </button>
  </div>
  
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div class="toast align-items-center text-bg-success"
         role="alert"
         data-share-target="toast">
      <div class="d-flex">
        <div class="toast-body">
          Link copied to clipboard!
        </div>
        <button type="button"
                class="btn-close btn-close-white me-2 m-auto"
                data-bs-dismiss="toast">
        </button>
      </div>
    </div>
  </div>
</div>
